* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsla(240, 100%, 10%, 1);
  color: rgb(255, 255, 255);
}

.to-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
