.input-container {
  display: flex;
  width: auto;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 5px 5px;
}

input {
  width: 100%;
  margin: 3px 5px;
  padding: 3px 0px;
  border: 1px solid white;
  border-radius: 5px;
}

button {
  border: none;
  background-color: white;
  color: black;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
}
