.input-container {
  display: flex;
  width: auto;
  /* flex-direction: column; */
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 10px;
}

input {
  width: 250px;
}

button {
  border: none;
  background-color: black;
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
}
